span.hamburger-inner::after , span.hamburger-inner::before, span.hamburger-inner{
  background-color: var(--c1);
}

.white-text{
  color: var(--c1);
}

.a-behavior-dark {
  width: 100%;
  transition: color .2s ease-in-out;
  color: var(--c3);
  text-decoration: none;
}

.a-behavior-dark:hover {
  color: var(--c1);
  text-decoration: underline;
}

.a-behavior-dark:active {
  color: var(--c1);
  text-decoration: underline;
}

#divider{
  background: var(--c5);
  width: 80px;
  height: 2px;
  border-radius: 5px;
  margin: var(--s13) auto 0px;
}

.lead-img {
  width: 100%;
  height: 526px;
  background: var(--c7);
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 8px 25px #00000035;
  border-radius: 10px;
  border: none !important;
  outline: none;
  margin: var(--s12) auto;
  margin-top: -296px;
}

.reg-img {
  width: 100%;
  height: 526px;
  background: var(--c7);
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 8px 25px #00000035;
  border-radius: 10px;
  border: none !important;
  outline: none;
  margin: 0px auto var(--s12);
}

.full-img {
  width: 100%;
  height: auto;
  background: url('assets/011 - Flash Message Final.png'), var(--c1);
  box-sizing: border-box;
  box-shadow: none;
  border: none !important;
}

img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-clip: border-box;
  object-fit: cover;
  max-height: 628px;
}

.blog-block{
  width: 100%;
  background-color: #fff;
}

.blog-wrap{
  padding: var(--s15) 0px var(--s15) 0px;
  color: var(--c8);
}

.blog{
  max-width: 641px;
  margin: auto;
}

.blog h2, .blog h3, .blog h4, .blog h5, .blog h6{
  padding: var(--s0) 0px var(--s9);
}

/* #first-title{
  margin-top: var(--s12);
} */

.blog-section{
  padding: var(--s1) 0px var(--s11) 0px;
  width: 100%;
}

.blog-section:first-child{
  padding-top: 0px
}

.blog-section:last-child{
  padding: var(--s1) 0px 0px 0px;
}

.paragraph{
  padding: var(--s5) 0px ;
  width:100%;
}

.quote-block{
  width: 100%;
}

.quote-wrap{
  padding: var(--s16) 0px;
  color: var(--c1);
  margin: auto;
  max-width: 641px;
  align-items: center;
  text-align: center;
}

.quote {
  text-align: center;
  width: 100%;
}

.quote p {
  text-align: center;
  width: 100%;
  margin:0;
  line-height: var(--lh2);
}

.slide-out-toggle {
  background-color: var(--c1);
}

@media only screen and (max-width: 768px) {

  div#gradBGMojito.wrap {
    padding: 0;
  }

  div.sub-plus-copy{
    margin-left: 0px;
  }

  div.blog-wrap.wrap{
    max-width: 95%;
    padding: var(--s12) 0px;
  }

  .quote{
    max-width: 95%;
  }

  .quote-wrap{
    max-width: 95%;
  }

  .quote-wrap{
    max-width: 95%;
    padding: var(--s13) 0px;
  }

  #divider{
    margin: var(--s10) auto 0px;
  }
}
