body {
  background:#FFF;
  background-repeat: no-repeat;
  color: #2C2C2C;
}

@font-face {
  font-family: 'OakesGrotesk-Regular';
  font-family: 'OakesGrotesk-Medium';
  font-family: 'OakesGrotesk-Semi-Bold';
  font-family: 'OakesGrotesk-Bold';
	src: url('oakes-grotesk-semi-bold.eot');
	src: url('oakes-grotesk-semi-bold.eot?#iefix') format('embedded-opentype'),
             url('oakes-grotesk-semi-bold.woff2') format('woff2'),
	     url('oakes-grotesk-semi-bold.woff') format('woff'),
	     url('oakes-grotesk-semi-bold.ttf') format('truetype'),
	     url('oakes-grotesk-semi-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container {
  flex:center;
  text-align: center;
  width: 100%;
  transition: color .1s;
}

.box {
  /*border: 1px solid black;*/
  max-width: 675px;
  width: 100%;
  display:inline-block;
  margin: 22vw 0 22vw;
}

h1, h2, h3, h4{
  font-family: 'OakesGrotesk-Semi-Bold', sans-serif;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 44px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 19px;
}

h5{
  font-size: 19px;
  font-family: 'DM Sans', sans-serif;
}

p {
  font-family: 'DM Sans', sans-serif;
  /* font-size: calc(15px + .25vw); */
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  word-wrap: normal;
}

button {
  font-family: 'OakesGrotesk-Semi-Bold', sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2.5px solid #2C2C2C;
  background: none;
  transition: .25s;
}

button:hover {
  background: #2C2C2C;
  color: white;
  transform: scale(1.05);
  box-shadow: 0px 10px 20px #00000020;
}

a {
  font-family: helvetica, arial;
  font-size: calc(15px + .25vw);
  font-weight: 700;
  text-decoration: #1997F2 underline;
  transition: .25s;
}

a.active {
  font-family: helvetica, arial;
  font-size: 16px;
  font-weight: 700;
  text-decoration:underline grey;
  color: grey;
}

a:hover {
  color: #1997F2;
}

footer {
  text-align: center;
  width:100%;
  /*border: 1px solid black;*/
}

.box1 {
  display:inline-block;
  margin: 1vw;
  font-size: calc(15px + .25vw);
  /*border: 1px solid black;*/
}
