  * {
    margin: 0;
    padding: 0;
  }

  :root {
    /* Gradients */
    --gradBlue:linear-gradient(90deg, #1997F2, #0C3A94);
    --gradPurp: linear-gradient(90deg, #458FFF, #7E10D4);
    --gradSunset: linear-gradient(90deg, #F23D3D, #FFA133);
    --gradLust: linear-gradient(90deg, #333333, #DD1818);
    --gradYoda: linear-gradient(90deg, #FF0099, #493240);
    --gradMojito: linear-gradient(90deg, #1D976C, #93F9B9);

    /* White to Black Palette */
    /* c1,c2,c8 = Background Colors */
    /* c1,c4,c5,c6,c7 = Font Colors, c7 = Main Font Color */
    /* c3 = Quote Callout Color for Blog */
    --c1:#fff;
    --c2:#f5f5f5;
    --c3:#EEEEEE;
    --c4:#DFDFDF;
    --c5:#ABABAB;
    --c6:#727272;
    --c7:#2C2C2C;
    --c8:#121212;
  }

  @font-face {
    font-family: 'OakesGrotesk-Regular';
    font-family: 'OakesGrotesk-Medium';
    font-family: 'OakesGrotesk-Semi-Bold';
    font-family: 'OakesGrotesk-Bold';
    src: url('oakes-grotesk-semi-bold.eot');
    src: url('oakes-grotesk-semi-bold.eot?#iefix') format('embedded-opentype'),
      url('oakes-grotesk-semi-bold.woff2') format('woff2'),
      url('oakes-grotesk-semi-bold.woff') format('woff'),
      url('oakes-grotesk-semi-bold.ttf') format('truetype'),
      url('oakes-grotesk-semi-bold.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .material-icons.md-96 {
    font-size: 96px;
  }
  .material-icons.md-26 {
    font-size: 26px;
  }

  body {
    background: var(--c1);
    background-repeat: no-repeat;
  }

  .intro{
    padding: 48px 0 112px;
  }

  .wrap{
    max-width: 98%;
    margin: auto;
    margin-top: 112px;
    width: 100%;
    /* border: red 2px dashed; */
  }


  .case-studies{
    background: var(--c2);
    width:100%;
  }

  .work{
    padding: 112px 0px;
  }

  .grey-line{
    width: 100%;
    background: var(--c6);
    height: 3px;
    margin: 16px 0px 32px;
  }

  /* li {
    margin-top: 16px;
    line-height: 1.3;
    list-style: none:;
  }

  ul {
    list-style-type: none;
    margin-left: 32px;
  }

  ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -32px;
  }

  .box {
    /*border: 1px solid black;*/
    max-width: 675px;
    width: 100%;
    display: inline-block;
    margin: 22vw 0 22vw; */
  }


  h1 {
    font-size: 96px;
    font-family: 'OakesGrotesk-Regular', sans-serif;
  }

  h2 {
    font-size: 34px;
    font-family: 'OakesGrotesk-Regular', sans-serif;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px 149%;
    font-family: 'DM Sans', sans-serif;
  }

  h5 {
    font-size: 16px 107.3%;
    font-family: 'DM Sans', sans-serif;
  }

  h6 {
    font: 14px 1%;
    text-transform: uppercase;
    font-family: 'OakesGrotesk-Semi-Bold', sans-serif;
    margin-bottom: 48px;
  }

  p.oakes {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: 26px;
    font-weight: 100;
    line-height: 137%;
    text-align: left;
    word-wrap: normal;
    max-width: 641px;
    margin-bottom: 48px;
  }

  p.dm {
    font-family: 'DM Sans', sans-serif;
    /* font-size: calc(15px + .25vw); */
    font-size: 19px;
    text-align: left;
    word-wrap: normal;
  }

  a.nav {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: 19px;
  }

  a.oakes {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: 26px;
    transition: color .2s ease-in-out;
    text-decoration: underline;
    color: var(--c7);
  }

  a.oakes span:hover{
    transform: translate(80px);
  }

  /* effect-shine */
  /* a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }

  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }

    to {
      -webkit-mask-position: -50%;
    }
  } */

  #second {
    color: var(--c5);
    margin-left: 48px;
  }

  a.dm {
    font-family: inherit, helvetica, arial;
    /* font-size: calc(15px + .25vw); */
    font-weight: 700;
    transition: .25s;
    color: #1997F2;
    text-decoration: none;
  }

  #Echochamber-a {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: 96px;
    transition: .3s;
    /* width: 100%;
    box-sizing: border-box; */
  }

  #Echochamber-a:hover {
    background-color: var(--c2);
    background-image: var(--gradPurp);
    background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    transition: .3s;
  }

  #Jacobsblue-a {
    border: solid red 2px;
  }

  #Jacobsblue-a span {
    float:right;
    /* text-align:center; */
  }

  #Jacobsblue-a:hover {
    background-color: var(--c2);
    background-image: var(--gradBlue);
    background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    transition: .3s;
  }

  #days-a {
  }

  #days-a:hover {
    background-color: var(--c2);
    background-image: var(--gradSunset);
    background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    transition: .3s;
  }

  #myPage-a {
    background-size: 60%;
    transition: .3s;
  }

  #myPage-a:hover {
    background-color: var(--c2);
    background-image: var(--gradMojito);
    background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    transition: .3s;
  }

  .cs a{
    /* padding-bottom: -16px; */
    margin-bottom: -16px;
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: 96px;
    letter-spacing: -3px;
    transition: ease-in-out .3s;
  }
  /* a.footer {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: 26px;
    transition: .25s;
    color: #1997F2;
    text-decoration: underline;
  } */

  /* a.active {
    text-decoration: underline grey;
    color: grey;
  } */

  a:hover {
    background-color: #fff;
    background-image: var(--gradBlue);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: .25s;
  }

  a:visited {
    text-decoration: none;
  }

  header {
    background: #FFFFFF;
    height: 80px;
    width: 100%;
    top: 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-family: 'OakesGrotesk-Regular';
    /* border: solid 2px red; */
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "title main";
  }

  header a {
    font-family: 'DM-Sans';
     weight: 0;
    color: #191919;
    text-decoration: none;
    font-weight: normal;
  }

  .header-link {
    /* font-size: min(1.6vw, 1em); */
  }

  nav {
    font-size: 19px;
    width: 100%;
    margin: auto;
  }

  .main-nav {
    grid-area: main;
  }

  .main-nav a {
    margin-left: 16px;
  }

  .title {
    font-size: 19px;
    grid-area: title;
  }

  hr.rounded {
    border-radius: 5px;
    outline: none;
    border: none;
    height: 2px;
    background-color: #191919;
  }

  .philo {
    margin-top: 92px;
  }

  #philo {
    margin-bottom: 8px;
    /* margin-left: 10px; */
  }

  .philo button {
    margin-top: 64px;
    margin-left: 10px;
  }

  .philo-wrap {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .philo-box {
    width: 100%;
    margin: space-between;
    width: 280px;
    height: 280px;
    border: 2px solid #7E7E7E;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    transition: .2s;
    background: #fff;
  }

  .philo-box img {
    width: 140px;
  }

  .philo-box h3 {
    margin-top: 8px;
  }

  .philo-box p {
    margin-top: 8px;
    color: #7E7E7E;
  }

  .philo-box:hover {
    border: 2px solid #191919;
    transform: scale(1.02);
    box-shadow: 0px 10px 20px #00000020;
    /* transition: .2s; */
    color: #191919;
  }

  footer {
    text-align: center;
    /* width: 100%; */
    margin-top: 200px;
    max-width: 95%;
    margin: auto;
    /*border: 1px solid black;*/
  }


  /* Media Queries */
  @media only screen and (min-width: 1060px) {
    .wrap {
      max-width: 1060px;
    }

    header {
      max-width: 1060px;
    }

    footer {
      max-width: 1060px;
    }
  }
