  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 100%;
  }

  :root {
    /* Gradients */
    --gradBlue: linear-gradient(90deg, #1997F2, #0C3A94);
    --gradPurp: linear-gradient(90deg, #458FFF, #7E10D4);
    --gradSunset: linear-gradient(90deg, #F23D3D, #FFA133);
    --gradLust: linear-gradient(90deg, #333333, #DD1818);
    --gradYoda: linear-gradient(90deg, #FF0099, #493240);
    --gradMojito: linear-gradient(90deg, #296A53, #45AE6C);

    /* White to Black Palette */
    /* c1,c2,c8 = Background Colors */
    /* c1,c4,c5,c6,c7 = Font Colors, c7 = Main Font Color */
    /* c3 = Quote Callout Color for Blog */
    --c1: #fff;
    --c2: #f5f5f5;
    --c3: #EEEEEE;
    --c4: #DFDFDF;
    --c5: #ABABAB;
    --c6: #727272;
    --c7: #2C2C2C;
    --c8: #121212;

    /* Font Sizing */
    --f1: 10px;
    --f2: 12px;
    --f3: clamp(12px, calc(.5rem + 2vw), 14px); /* 24px */
    --f4: 16px;
    --f5: 18px;
    --f6: clamp(19px, calc(.5rem + 3vw), 24px); /* 24px */
    --f7: clamp(22px, calc(1rem + 2vw), 26px); /* 26px */
    --f8: 28px;
    --f9: clamp(32px, calc(1rem + 3.5vw), 34px); /* 34px */
    --f10: 64px;
    --f11: clamp(42px, calc(1.8rem + 3.5vw), 96px); /* 96px */
    --f13: 256px;

    /* Letter Spacing  */
    --ls0: .5px;
    --ls1: 0;
    --ls2: -1%;
    --ls3: -2%;
    --ls4: -3%

    /* Line Height  */
    --lh1: 125%;
    --lh2: 150%;
    --lh3: 175%;

    /* Spacing */
    --s0: 0px;
    --s1: 4px;
    --s2: 8px;
    --s3: 12px;
    --s4: 16px;
    --s5: 20px;
    --s6: 24px;
    --s7: 28px;
    --s8: 32px;
    --s9: 36px;
    --s10: 40px;
    --s11: 48px;
    --s12: 64px;
    --s13: 80px;
    --s14: 96px;
    --s15: 112px;
    --s16: 196px;
    --s17: 256px;
  }

  @font-face {
    font-family: 'OakesGrotesk-Regular', Helvetica, Arial, Sans-Serif;
    -moz-font-feature-settings: 'ccmp=0,liga=0,locl=0,ordn=0,sups=0';
    src: url('oakes-grotesk-reguler.eot');
    src: url('oakes-grotesk-regular.eot?#iefix') format('embedded-opentype'),
      url('oakes-grotesk-regular.woff2') format('woff2'),
      url('oakes-grotesk-regular.woff') format('woff'),
      url('oakes-grotesk-regular.ttf') format('truetype'),
      url('oakes-grotesk-regular.svg#youworkforthem') format('svg');
    font-family: 'OakesGrotesk-Semi-Bold';
    src: url('oakes-grotesk-semi-bold.eot');
    src: url('oakes-grotesk-semi-bold.eot?#iefix') format('embedded-opentype'),
      url('oakes-grotesk-semi-bold.woff2') format('woff2'),
      url('oakes-grotesk-semi-bold.woff') format('woff'),
      url('oakes-grotesk-semi-bold.ttf') format('truetype'),
      url('oakes-grotesk-semi-bold.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .material-icons.md-88 {
    font-size: clamp(32px, calc(1.8rem + 3.5vw), 88px); /* 98px */
  }

  .material-icons.md-88::before {
    color: var(--c6);
  }

  .material-icons.md-24 {
    font-size: 24px;
  }

  a{
    text-decoration: none;
  }

  .a-behavior-dark {
    width: 100%;
    transition: .2s ease-in-out;
    color: var(--c3);
    text-decoration: none;
  }

  .a-behavior-dark:hover {
    color: var(--c1);
    text-decoration: underline;
  }

  .a-behavior-dark:active {
    color: var(--c1);
    text-decoration: underline;
  }


  body {
    background: var(--c1);
    background-repeat: no-repeat;
  }

  a, input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
  }

  #slide-out-menu {
    height: 100%;
    top: 0;
    background-color: var(--c8);
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: .3s ease-in-out;
  }

  .slide-out-wrap {
    margin: var(--s14) auto;
  }

  #slide-out-menu .slide-out-wrap nav a {
    right: 0;
  }

  #d1 {
    transition: right .3s ease-in-out;
    transition-delay: .1s;
  }

  #d2 {
    transition: right .3s ease-in-out;
    transition-delay: .15s;
  }

  #d3 {
    transition: right .3s ease-in-out;
    transition-delay: .2s;
  }

  #d4 {
    transition: right .3s ease-in-out;
    transition-delay: .25s;
  }

  #d5 {
    transition: top .3s ease-in-out;
    transition-delay: .3s;
  }

  #d6 {
    transition: top .3s ease-in-out;
    transition-delay: .5s;
  }

  #slide-out-menu.hidden .slide-out-wrap nav a {
    right: -70%;
  }

  #slide-out-menu .slide-out-wrap .slide-footer div {
    top: 0;
    position: relative;
  }

  #slide-out-menu.hidden .slide-out-wrap .slide-footer div {
    top: 60vh;
  }

  #hamburger {
    position: absolute;
  }

  #hamburger.sticky {
    position: fixed;
  }

  .slide-out-toggle {
    z-index: 3;
    position: absolute;
    right: 1.25%;
    top: 1.35%;
    visibility: hidden;
    display: grid;
    grid-area: main;
  }

  #slide-out-menu .slide-nav a {
    font-size: var(--f9);
    text-decoration: none;
    margin: var(--s5) auto;
    display: inline-block;
  }

  #slide-out-menu .slide-nav a:first-child {
    margin-top: var(--s1);
  }

  .slide-nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  a.left {
    position: relative;
    text-decoration: none;
  }

  a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all .3s ease-in-out;
  }

  a.left:hover:before {
    visibility: visible;
    width: 100%;
  }

  .slide-nav a {
    color: var(--c5);
    transition: color .3s ease-in-out;
  }

  .slide-nav a:hover {
    color: var(--c1);
  }

  .slide-nav a:active {
    color: var(--c1);
  }

  #slide-out-menu div h6 {
    color: var(--c6);
    margin: var(--s8) 0;
  }

  .slide-footer {
    margin-top: var(--s6);
  }

  .slide-footer div {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: auto;
    align-items: center;
  }

  .slide-footer a {
    color: var(--c4);
    font-size: 21px;
    margin-bottom: var(--s5);
    font-family: 'OakesGrotesk-Regular';
    transition: color .3s ease-in-out;
  }

  .slide-footer a:hover {
    color: var(--c1);
  }

  .bw {
    background-blend-mode: difference;
  }

  #slide-out-menu.hidden {
    right: -100%;
  }

  .intro {
    padding: var(--s16) 0 var(--s17);
  }

  .wrap {
    max-width: 98%;
    margin: auto;
    width: 100%;
  }

  .case-studies {
    background: var(--c2);
    width: 100%;
  }

  .work {
    padding: var(--s15) 0px;
  }

  li {
    margin-top: 16px;
    line-height: 1.3;
    list-style: none:;
  }

  li.oakes {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: var(--f7);
    font-weight: 100;
    line-height: 137%;
    text-align: left;
    word-wrap: normal;
    max-width: 641px;
    margin-bottom: var(--s11);
  }


  ul {
    list-style-type: none;
    margin-left: 32px;
  }

  ul li:before {
    content: '-';
    position: absolute;
    margin-left: -32px;
  }

  /* .box {
    border: 1px solid black;
    max-width: 675px;
    width: 100%;
    display: inline-block;
    margin: 22vw 0 22vw;
  } */

  h1 {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: var(--f11);
    letter-spacing: var(--ls3);
    text-decoration: none;
    font-weight: lighter;
  }

  h2 {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    letter-spacing: var(--ls2);
    font-size: var(--f9);
  }

  h3 {
    font-family: 'OakesGrotesk-regular', sans-serif;
    font-size: var(--f7);
    text-transform: none;
    text-decoration: none;
    font-weight: lighter;
  }

  h4 {
    font-size: var(--f6);
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
  }

  h5 {
    font-size: var(--f4) var(--lh1);
    font-family: 'DM Sans', sans-serif;
  }

  h6 {
    font-size: var(--f3);
    line-height: var(--lh0);
    letter-spacing: var(--ls0);
    text-transform: uppercase;
    font-family: 'OakesGrotesk-Semi-Bold', sans-serif;
    margin-bottom: var(--s11);
    display: block;
  }

  p.oakes {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: var(--f7);
    font-weight: 100;
    line-height: 137%;
    text-align: left;
    word-wrap: normal;
    max-width: 641px;
    margin-bottom: var(--s11);
  }

  p.dm {
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    /* font-size: calc(15px + .25vw); */
    font-size: var(--f5);
    text-align: left;
    word-wrap: normal;
    line-height: var(--lh3)
  }

  a.nav {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: var(--f5);
  }

  a.oakes {
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: var(--f7);
    transition: color .2s ease-in-out;
    /* color: var(--c7); */
    width: 212px;
    display: flex;
    align-content: center;
  }

  .cta {
    text-decoration: underline;
    display: block;
    margin-right: var(--s1);
  }

  .arrow {
    text-decoration: none;
    transition: .25s ease-in-out;
    display: block;
    font-size: 4px;
  }

  a.oakes:hover .arrow {
    margin-left: var(--s1);
  }

  .a-block {
    display: flex;
    flex-flow: row wrap;
  }

  .a-block a {
    margin-top: var(--s8);
  }

  .white-text {
    color: var(--c1);
  }

  .case-header .title-description {
    margin: var(--s12) auto var(--s11);
  }

  .title-description h1 {
    margin-bottom: var(--s5);
  }

  .case-sub-block {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: var(--s17);
    /* margin-top: var(--s11); */
  }

  .sub-plus-copy {
    margin-top: var(--s8);
  }

  .sub-plus-copy h6 {
    margin-bottom: var(--s3);
  }

  .sub-plus-copy p {
    width: 360px;
  }

  .case-sub-block :first-child {
    margin-left: 0;
  }

  .sub-plus-copy {
    margin-left: var(--s11);
  }

  #second {
    color: var(--c5);
    width: 420px;
    transition: color .2s ease-in-out;
    background-color: var(--c2);
    background-image: var(--gradBlue);
    background-clip: text;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* color:inherit; */
    -webkit-animation: gradientMotion 5s ease infinite;
    -moz-animation: gradientMotion 5s ease infinite;
    animation: gradientMotion 5s ease infinite;
  }

  #second:hover {
    color: #2C2C2C00;
    text-decoration: none;
  }

  .status{
    width: 100%;
    background-color: var(--c7);
    bottom: 0;
    box-sizing: content-box;
    overflow: hidden;
  }

  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
        }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-140%, 0, 0);
      }
  }

  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-140%, 0, 0);
    }
  }

  #mono {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    padding: var(--s2);
    color: var(--c6);
    font-size: var(--s3);
    white-space: nowrap;
    padding-left: 100%;
    -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
           animation-timing-function: linear;
  -webkit-animation-name: ticker;
          animation-name: ticker;
   -webkit-animation-duration: 25s;
           animation-duration: 25s;
  }


  a.dm {
    font-family: inherit, helvetica, arial;
    /* font-size: calc(15px + .25vw); */
    font-weight: 700;
    transition: .25s;
    color: #1997F2;
    text-decoration: none;
  }

  #Echochamber-a {
    width: 100%;
    transition: color .2s ease-in-out;
    background-color: var(--c2);
    background-image: var(--gradPurp);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: #2c2c2cFF;
    -webkit-animation: gradientMotion 5s ease infinite;
    -moz-animation: gradientMotion 5s ease infinite;
    animation: gradientMotion 5s ease infinite;
  }

  @-webkit-keyframes gradientMotion {
    0% {
      background-position: 10% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes gradientMotion {
    0% {
      background-position: 10% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @keyframes gradientMotion {
    0% {
      background-position: 10% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  #Echochamber-a:hover {
    color: #2C2C2C00;
  }

  #Jacobsblue-a {
    width: 100%;
    transition: color .2s ease-in-out;
    background-color: var(--c2);
    background-image: var(--gradBlue);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: #2c2c2cFF;
    -webkit-animation: gradientMotion 5s ease infinite;
    -moz-animation: gradientMotion 5s ease infinite;
    animation: gradientMotion 5s ease infinite;
  }

  #Jacobsblue-a:hover {
    color: #2C2C2C00;
    /* transform: translate(0, -4px);
    transition: .2s ease-in-out; */
  }

  #days-a {
    width: 100%;
    transition: color .2s ease-in-out;
    background-color: var(--c2);
    background-image: var(--gradSunset);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: #2c2c2cFF;
    -webkit-animation: gradientMotion 5s ease infinite;
    -moz-animation: gradientMotion 5s ease infinite;
    animation: gradientMotion 5s ease infinite;
  }

  #days-a:hover {
    color: #2C2C2C00;
  }

  #myPage-a {
    width: 100%;
    transition: color .2s ease-in-out;
    background-color: var(--c2);
    background-image: var(--gradMojito);
    background-clip: text;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: #2c2c2cFF;
    -webkit-animation: gradientMotion 5s ease infinite;
    -moz-animation: gradientMotion 5s ease infinite;
    animation: gradientMotion 5s ease infinite;
  }

  #myPage-a:hover {
    color: #2C2C2C00;
  }

  .cs {
    display: flex;
    justify-content: space-between;
    padding: var(--s9) 0 var(--s4);
    box-sizing: border-box;
    border-bottom: 3px solid var(--c6);
  }

  .fade-in {
    opacity: 0;
    transition: opacity .7s ease-in-out, transform .3s ease-in-out;
    transform: translate(0, 200);
  }

  .fade-in-toggle {
    opacity: 1;
    transform: translate(0, 0);
  }

  .fade-in-load {
    opacity: 0;
    transition: opacity .6s ease-in-out, transform .6s ease;
    transform: translate(0, 200px);
    /* transform: translate(0,0); */
  }

  .fade-in-load-toggle {
    opacity: 1;
    transform: translate(0, 0);
  }

  /* #Jacobsblue-a {
    transition-delay: .5s;
  } */
  a:last-child .cs {
    border: 0px solid;
  }

  .cs h1 {
    line-height: 96px;
    font-family: 'OakesGrotesk-Regular', sans-serif;
    font-size: var(--f11);
    letter-spacing: -3px;
  }

  .a-behavior {
    width: 100%;
    transition: color .2s ease-in-out;
    background-color: var(--c2);
    background-image: var(--gradBlue);
    background-clip: text;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: inherit;
    -webkit-animation: gradientMotion 5s ease infinite;
    -moz-animation: gradientMotion 5s ease infinite;
    animation: gradientMotion 5s ease infinite;
  }

  .a-behavior:hover {
    color: #2C2C2C00;
    text-decoration: none;
  }

  a:active {
    color: #2C2C2C00;
    text-decoration: none;
  }

  a:visited {
    color: inherit;
    text-decoration: none;
  }

  header {
    background: #FFFFFF00;
    height: 80px;
    width: 100%;
    top: 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-family: 'OakesGrotesk-Regular', sans-serif;
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "title main";
  }

  header a {
    /* font-family: 'DM-Sans'; */
    weight: 0;
    /* color: #191919; */
    text-decoration: none;
    font-weight: normal;
    padding: 12px 0;
  }

  .header-link {
    /* font-size: min(1.6vw, 1em); */
  }

  nav {
    font-size: 19px;
    width: 100%;
    margin: auto;
  }

  .main-nav {
    grid-area: main;
  }

  .main-nav a {
    margin-left: 16px;
  }

  .title {
    font-size: 19px;
    grid-area: title;
    text-align: left;
    width: 280px;
  }

  .footer-block {
    background: var(--c8);
    width: 100%;
  }

  .darkbg {
    color: var(--c1);
    font-family: 'OakesGrotesk-Regular';
    weight: 100;
  }

  .footer {
    font-family: 'OakesGrotesk-Regular';
    padding: var(--s15) 0px;
    height: 100%;
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title block"
      ". . block"
      "copy love block";
  }

  .footer-title {
    grid-area: title;
  }

  .social-links-block {
    grid-area: block;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }

  .social-links-block h6:first-child {
    margin-top: 0;
  }

  .social-links-block a:last-child {
    margin-bottom: 0;
  }

  .footer h6 {
    color: var(--c6);
    margin: var(--s5) 0;
  }

  .footer a {
    margin: var(--s2) 0;
    font-size: 21px;
    color: var(--c3);
    transition: .3s ease-in-out;
  }

  .footer a:hover {
    text-decoration: none;
    color: var(--c1);
  }

  .footer p {
    font-size: 15px;
    color: var(--c6);
  }

  .copy {
    grid-area: copy;
    align-self: baseline;
  }

  .love {
    grid-area: love;
    justify-content: center;
    text-align: center;
    align-self: baseline;
  }

  /* .philo button {
    margin-top: 64px;
    margin-left: 10px;
  }

  .philo-wrap {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .philo-box {
    width: 100%;
    margin: space-between;
    width: 280px;
    height: 280px;
    border: 2px solid #7E7E7E;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    transition: .2s;
    background: #fff;
  }

  .philo-box img {
    width: 140px;
  }

  .philo-box h3 {
    margin-top: 8px;
  }

  .philo-box p {
    margin-top: 8px;
    color: #7E7E7E;
  }

  .philo-box:hover {
    border: 2px solid #191919;
    transform: scale(1.02);
    box-shadow: 0px 10px 20px #00000020;
    transition: .2s;
    color: #191919;
  } */


  /* Media Queries */
  @media only screen and (min-width: 1060px) {
    .wrap {
      max-width: 1060px;
    }

    header {
      max-width: 1060px;
    }

    footer {
      max-width: 1060px;
    }
  }

  @media only screen and (max-width: 1060px) {
    .wrap {
      max-width: 95%;
    }
  }

  @media only screen and (max-width: 768px) {
    .wrap {
      max-width: 95%;
      padding: var(--s15) 0;
    }

    .main-nav {
      visibility: hidden;
    }

    .slide-out-toggle {
      visibility: visible;
    }

    .intro {
      padding: var(--s15) 0 var(--s16);
    }

    header {
      max-width: 95%;
    }

    .footer {
      max-width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--s15) 0;
    }

    .footer-title {
      text-align: center;
      width: 100%;
      line-height: var(--lh2)
    }

    .social-links-block {
      align-items: center;
    }

    .social-links-block h6:first-child {
      margin-top: var(--s13);
    }

    .footer p {
      margin-top: var(--s11);
      align-self: center;
    }

    .footer p:last-child {
      margin-top: var(--s2);
    }

    p.copy {
      visibility: hidden;
    }

    .footer>* {
      grid-area: single;
    }
  }
